*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
   
}



footer{
    background-color: rgb(36, 36, 117);
    text-align: center;
    padding: 20px;
   
}

#ubicacion {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding: 10px;;
    }

    